<div class='mt-4'>
    <div class='row'>
        <div class='col-lg-3'>
            <button>học ngay</button>
        </div>
        <div class='col-lg-9'>
            <h2>{{course.name}}</h2>
            <iframe src='https://www.youtube.com/embed/{{course.videoID}}' frameborder='0'></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>